<%- include('header'); -%>
</head>
<body>
<div class="sidebar">
    <a href="/">Sort By Date</a>
    <% for(let driver of drivers){ %>
        <%- `<a href="/driver/${driver._id}"> ${driver.lName}, ${driver.fName} </a>`%>
    <% } %>  
    <a href="/logout"> Logout </a>
    <a href="/sakay"> Sakay </a>
</div>

<div class="content">
    <form action="/" method="get">
        <input id="date" name="date" type="date" value="<%= date %>">
        <button>find</button>
    </form>
    
    <% for(let driver of drivers){ %>
        <% if(driver.balanceOnDate!=0){ %> 
            <%= `${driver.lName}, ${driver.fName} = ${driver.balanceOnDate}`%>
            <%- '<br>' %>  
        <% } %> 
    <% } %> 
</div>

<%- include('header'); -%>